*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

#root {
    min-height: 100vh;
    height: fit-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.main__login {
    font-size: 24px;
    padding: 2em;
    width: 400px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;

    .logo {
        width: 300px;
    }

    .details {
        margin-top: 2em;
        padding:0 0.5em;
        font-size: 20px;
        font-family: Questrial, sans-serif;

        .pat {
            margin-top: 0.4em;
            width: 100%;
            font-size: 16px;
            font-family: inherit;
            padding: 0.25em 0.5em;
            background-color: #fff;
            border: 2px solid var(--input-border);
            border-radius: 4px;
        }

        .login__btn {
            width: 100%;
            background-color: #6cc644;
            border-radius: 0;
            // color: white;
            font-weight: bold;
            font-family: Questrial, sans-serif;
            margin-top: 1em;
        }
    }
}