*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

#root {
    min-height: 100vh;
    height: fit-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.main__login {
    font-size: 24px;
    padding: 2em;
    width: 400px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;

    .logo {
        width: 300px;
    }

    .details {
        margin-top: 1em;
        padding:0 0.5em;
        font-size: 20px;
        font-family: Questrial, sans-serif;

        .pat {
            margin-top: 0.4em;
            width: 100%;
            font-size: 16px;
            font-family: inherit;
            padding: 0.25em 0.5em;
            background-color: #fff;
            border: 2px solid var(--input-border);
            border-radius: 4px;
        }

        .login__btn {
            width: 100%;
            background-color: #6cc644;
            border-radius: 0;
            // color: white;
            font-weight: bold;
            font-family: Questrial, sans-serif;
            margin-top: 1em;
        }
    }
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
//   color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
// /* demo */
// body {
//   font-family: 'Poppins', sans-serif; 
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   font-size: 1.5rem;
//   background-color:#222222;
// }